* {
    box-sizing: border-box;
}

body {
    background-color: #0a0c1b;
}

main {
    width: 100%;
    height: calc(100vh - 15px);
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width:575px) {
    main {
        min-height: 700px;
    }
}

@media (max-height:600px) {
    main {
        overflow: auto;
    }
}

section {
    width: 800px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

@media (max-width:820px) {
    section {
        width: 80%;
        height: 90%;
        grid-template-columns: 1fr;
        grid-template-rows: 40% 1fr;
    }
}

@media (max-width:575px) {
    section {
        min-width: 350px;
        grid-template-rows: 30% 1fr;
    }
}

.text {
    background-color: #1c1938;
    color: white;
    padding: 30px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    font-family: 'Inter', sans-serif;
    text-align: center;
}

@media (max-width:820px) {
    .text {
        order: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        border-top-left-radius: 0;
        border-bottom-right-radius: 5px;
    }
}

@media (max-width:575px) {
    .text {
        display: grid;
        grid-template-rows: repeat(2, auto) 1fr;
        padding: 0 30px;
    }
}

.text h1 {
    font-size: 30px;
}

@media (max-width:575px) {
    .text h1 {
        font-size: 21px;
    }
}

.text>h1 span {
    color: #8f5dbb;
}

.text p {
    color: #5f5d75;
    font-size: 15px;
}

.flex {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-family: 'Lexend Deca', sans-serif;
}

@media (max-width:575px) {
    .flex {
        flex-direction: column;
    }
}

.flex h2 {
    font-weight: 400;
    font-size: 20px;
}

.cover {
    background-image: url("../images/image-header-desktop.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    position: relative;
}

@media (max-width:820px) {
    .cover {
        order: 1;
        background-image: url("../images/image-header-mobile.jpg");
        border-top-left-radius: 5px;
        border-bottom-right-radius: 0;
    }
}

.overlay {
    position: absolute;
    inset: 0;
    background-color: #5002888c;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

@media (max-width:820px) {
    .overlay {
        border-top-left-radius: 5px;
        border-bottom-right-radius: 0;
    }
}

.attribution {
    font-size: 11px;
    text-align: center;
    color: #8f5dbb;
}

@media (max-height:600px) {
    .attribution {
        display: none;
    }
}

.attribution a {
    color: white;
}